@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

body {
  direction: rtl;
}

.myNav {
  background-color: rgba(48, 49, 62, .98);
}

.myNav .navbarBrand a {
  display: flex;
  color: white;
  font-size: 24px;
  font-family: "Baloo 2",
cursive;
  margin-right: 0.8rem;
}

.myNav ul {
  display: flex;
  width: 80%;
}

.myNav li {
  list-style: none;
  margin-right: 0.5rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: .8rem .8rem 0 0;
  border-bottom: 4px solid transparent;
  border-radius: 2px 2px 2px 2px;
}

.myNav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.myNav li:hover {
  border-bottom: 4px solid #10b68c;
  border-radius: 2px 2px 2px 2px;
  transition: .5s;
}

.myNav a:hover {
  text-decoration: none;
  color: white;
}

.myNav .sign {
  color: white;
  position: absolute;
  left: 1rem;
}

.myNav .sign a {
  color: white;
}